@font-face {
  font-family: "theseasons";
  src: url("assets/fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "theseasons", sans-serif;
}

header {
  background-color: #fff7f1;
}

header .container-fluid {
  width: 90%;
}

.head-li li {
  margin: 0 20px;
  font-size: 15px;
  color: #b77716;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.main-cont h1 {
  font-size: 100px;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: "theseasons", sans-serif;
  color: #a0783b;
}

.main-cont {
  background: url(assets/imgs/BANNER\ WITH\ NEW\ COLOR\ 2\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  background-color: #885200;
}

.services .sepration {
  color: #ffdca6;
  font-family: "theseasons", sans-serif;
  font-size: 64px !important;
  letter-spacing: 28px;
}
.services h2 {
  color: #ffdca6;
  font-family: "theseasons", sans-serif;
}
.head img {
  height: fit-content;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .card {
  height: 500px;
  background-color: inherit;
  border: 1px solid #be975c;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.services .card h3 {
  color: #ffdca6;
  font-size: 48px;
  font-family: "theseasons", sans-serif;
}
.services .card p {
  font-size: 24px;
  color: #fff1db;
}

.founder {
  background-color: #fff7f1;
}

.founder h2 {
  font-size: 60px;
  color: #bb8739;
  font-family: "theseasons", sans-serif;
}

.founder .drs {
  height: 810px;
  width: 700px;
  object-fit: cover;
}

.in-card h3 {
  font-family: "theseasons", sans-serif;
  color: #6f4300;
}
.in-card h4 {
  color: #bb8739;
  text-transform: uppercase;
  font-weight: 400 !important;
}
.results,
.findus-yt,
.visit,
.Blogs {
  background-color: #fff7f1;
}
.results h2 {
  color: #bb8739;
  font-family: "theseasons", sans-serif;
}
.findus-ig h2,
.findus-yt h2,
.Blogs h2 {
  color: #885200;
  font-family: "theseasons", sans-serif;
  text-align: center;
}
.findus-yt h3 {
  font-family: "theseasons", sans-serif;
}
.visit-h {
  color: #be975c;
  font-family: "theseasons", sans-serif;
  font-size: 45px;
}

footer ul li {
  color: #be975c;
  list-style: none;
  font-size: 20px;
  margin: 10px 0;
}

.B-inC {
  background-color: #bb8739;
  color: white;
  border-radius: 0 0 15px 15px;
  position: relative;
  top: -6rem;
}

.B-inC h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.B-inC p {
  font-size: 10px;
}
.Medical {
  background-color: #ffeed4;
}
.med-txt {
  color: #885200;
  font-size: 18px;
  font-weight: 600;
}
.medical-img {
  background-color: #885200;
  height: 100vh;
}
.medical-img h2 {
  font-family: "theseasons", sans-serif;
  color: #fff7f1;
  font-size: 45px;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #ffeed4;
}
.medical-img img {
  padding: 0.5rem;
  border: 1px solid #b77716;
}

.services button:hover {
  background-color: #be975c;
}

button img:hover {
  transform: rotate(-40deg);
  transition: 0.2s ease-in-out;
}
.B-inC:hover{
  background-color: #6f4300;
  transition: .4s ease-in-out;
}

@media (max-width: 1250px) {
  .main-cont {
    background: #fff7f1;
  }
  .main-cont h1 img {
    width: 100%;
  }
  .form img {
    width: 100%;
  }
  .int {
    width: 100%;
  }
  .founder .drs {
    width: 100%;
    height: 27rem;
  }
  .services h2,
  .founder h2 {
    font-size: 35px !important;
  }
  .services .card {
    margin: 2rem 0;
  }
  .in-card {
    text-align: center;
    border-bottom: 1px solid #6f4300;
  }
}
