@font-face {
  font-family: "theseasons";
  src: url("assets/fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "theseasons", sans-serif;
}

header {
  background-color: #fff7f1;
}

header .container-fluid {
  width: 90%;
}

.head-li li {
  margin: 0 20px;
  font-size: 15px;
  color: #b77716;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.head-li li:hover {
  border-bottom: 1px solid #b77716;
}

.main-cont h1 {
  font-size: 100px;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: "theseasons", sans-serif;
  color: #b77716;
}

.main-cont {
  background: url(assets/imgs/BANNER\ WITH\ NEW\ COLOR\ 2\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  background-color: #885200;
}

.services .sepration {
  color: #ffdca6;
  font-family: "theseasons", sans-serif;
  font-size: 64px !important;
  letter-spacing: 28px;
}
.services h2 {
  color: #ffdca6;
  font-family: "theseasons", sans-serif;
}
.head img {
  height: fit-content;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .card {
  height: 500px;
  background-color: inherit;
  border: 1px solid #be975c;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.services .card h3 {
  color: #ffdca6;
  font-size: 48px;
  font-family: "theseasons", sans-serif;
}
.services .card p {
  font-size: 24px;
  color: #fff1db;
}

.founder {
  background-color: #fff7f1;
}

.founder h2 {
  font-size: 60px;
  color: #bb8739;
  font-family: "theseasons", sans-serif;
}

.founder .drs {
  height: 810px;
  width: 700px;
  object-fit: cover;
}

.in-card h3 {
  font-family: "theseasons", sans-serif;
  color: #6f4300;
}
.in-card h4 {
  color: #bb8739;
  text-transform: uppercase;
  font-weight: 400 !important;
}
.results,
.findus-yt,
.visit,
.Blogs {
  background-color: #fff7f1;
}
.results h2 {
  color: #bb8739;
  font-family: "theseasons", sans-serif;
}
.findus-ig h2,
.findus-yt h2,
.Blogs h2 {
  color: #885200;
  font-family: "theseasons", sans-serif;
  text-align: center;
}
.findus-yt h3 {
  font-family: "theseasons", sans-serif;
}
.visit-h {
  color: #be975c;
  font-family: "theseasons", sans-serif;
  font-size: 45px;
}

footer ul li {
  color: #be975c;
  list-style: none;
  font-size: 20px;
  margin: 10px 0;
}

.B-inC {
  background-color: #bb8739;
  color: white;
  border-radius: 0 0 15px 15px;
  position: relative;
  top: -6rem;
  transition: 0.3s ease-in-out;
}

.B-inC h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.B-inC p {
  font-size: 10px;
}
.Medical {
  background-color: #ffeed4;
}
.med-txt {
  color: #885200;
  font-size: 18px;
  font-weight: 600;
}
.medical-img {
  background-color: #885200;
}
.medical-img h2 {
  font-family: "theseasons", sans-serif;
  color: #fff7f1;
  font-size: 45px;
}
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #ffeed4;
}
.medical-img img {
  padding: 0.5rem;
  border: 1px solid #b77716;
}

.services button:hover {
  background-color: #be975c;
}
button img {
  transition: 0.1s ease-in-out;
}
button:hover img {
  transform: rotate(-40deg);
}
.B-inC:hover {
  background-color: #885200;
}

/* Styling the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f962; */
  border-radius: 10px;
  background-color: #be975c;
  color: #fff;
  backdrop-filter: blur(30px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: start;
  color: #ffffff;
  text-transform: uppercase;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #6f4300;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 1250px) {
  .main-cont {
    background: #fff7f1;
  }
  .main-cont h1 {
    font-size: 60px;
  }
  .form img {
    width: 100%;
  }
  .int {
    width: 100%;
  }
  .founder .drs {
    width: 100%;
    height: 27rem;
  }
  .services h2,
  .founder h2 {
    font-size: 35px !important;
  }
  .services .card {
    margin: 2rem 0;
  }
  .in-card {
    text-align: center;
    border-bottom: 1px solid #6f4300;
  }
}

/* cardsservices */
.card {
  position: relative;
  overflow: hidden;
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
  transition: transform 0.5s;
}

#skin-c3 .card-background {
  background-image: url("https://essentialskinclinic.com.au/wp-content/uploads/2020/10/Facial-square.jpg");
  background-size: cover;
  background-position: center;
}
#skin-c2 .card-background {
  background-image: url("https://static7.depositphotos.com/1062035/709/i/450/depositphotos_7095662-stock-photo-beauty-treatment.jpg");
  background-size: cover;
  background-position: center;
}
#skin-c1 .card-background {
  background-image: url("https://images.pexels.com/photos/6811386/pexels-photo-6811386.jpeg?cs=srgb&dl=pexels-yaroslav-shuraev-6811386.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
}
#skin-c4 .card-background {
  background-image: url("https://fortune.com/img-assets/wp-content/uploads/2015/07/l-raphael-singature-oxy-treatment-at-the-four-seasons-hotel-new-york20-copy.jpg");
  background-size: cover;
  background-position: center;
}

#hair-c1 .card-background {
  background-image: url("https://www.jeanlouisdavid.us/app/uploads/sites/5/2023/03/17584-greasy-hair-treatments-article_media_block-1.jpg");
  background-size: cover;
  background-position: center;
}
#hair-c2 .card-background {
  background-image: url("https://www.medhairclinic.com/de/wp-content/uploads/2021/06/mesotherapy.jpg");
  background-size: cover;
  background-position: center;
}
#hair-c3 .card-background {
  background-image: url("https://s3-media0.fl.yelpcdn.com/bphoto/m3ZJuHj44zaZrpLo5Fpdpg/1000s.jpg");
  background-size: cover;
  background-position: center;
}
#hair-c4 .card-background {
  background-image: url("https://media.istockphoto.com/id/598545458/photo/cropped-image-of-man-suffering-from-hair-loss.jpg?s=612x612&w=0&k=20&c=mbXMo3AKi9l7_PNNY2g45t8O3hvzsSpOQ84-Ea0yOAw=");
  background-size: cover;
  background-position: center;
}

.accordion-item {
  border: 2px solid #b77716 !important;
  border-radius: 15px !important;
}

.card img,
.card h3,
.card p {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.card:hover .card-background {
  filter: brightness(0.5);
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.card:hover img,
.card:hover h3,
.card:hover p {
  opacity: 1;
  transform: translateY(0);
}

/* videohover */
.hover-video {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.hovvv {
  position: relative;
  overflow: hidden;
}
.hovvv:hover .hover-video {
  display: block;
  z-index: 0;
}

.foot-icn img:hover {
  filter: drop-shadow(2px 2px 2px #be975c);
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}

.location-img {
  width: 20px; /* Adjust size as needed */
  height: auto;
  transition: transform 0.3s ease-out;
}

.gurgaon:hover .location-img,
.delhi:hover .location-img {
  transform: rotateY(360deg); /* Rotate 360 degrees on hover */
}

/* founders */
.founder-info img {
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.founder-info img:hover {
  transform: scale(1.05);
}

/* h1  */
.main-h1 {
  /* display: inline-block; */
  font-size: 3rem; /* Adjust as needed */
  overflow: hidden;
}

.letter {
  opacity: 0;
  /* display: inline-block; */
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* banner button */
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b77716;
}

.pogo {
  position: absolute;
  width: 60px;
  height: 80px;
  background: url("assets/imgs/icons/bot-arw.png");
  background-size: cover;
  border-radius: 100vmax;
  background-position: center;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #885200;
  font-size: 14px;
  animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 100px;
}

/* head anim */
.msg:hover {
  animation: pop 0.3s 2;
}
.call:hover {
  animation: rotate-vertical 0.3s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes rotate-vertical {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* form */
.form-container {
  position: relative;
  overflow: hidden;
  height: auto; /* Adjust height as needed */
}

#video {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure video covers entire container */
  pointer-events: none; /* Allow pointer events to pass through to overlay */
  border-radius: 45px;
  width: 490px;
  height: 578px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1; /* Ensure overlay is above video */
  pointer-events: none; /* Allow hover events to pass through to video */
}

.form-container:hover .form-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container:hover #video {
  display: none;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #ffffff00;
  border: 1px solid #be975c;
}
